@import './main.less';

@icon-font-path: './fonts';

.link-group {
  cursor: pointer;
  .rs-table-cell-content {
    padding: 5px;
  }
}

::selection {
  background-color: @H500;
  color: #fff;
}

.rs-nav-item-panel {
  padding: 8px !important;
  .tr-collapse-menu {
    padding-left: 12px !important;
  }
}
.rs-nav-item {
  margin-top: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
